%h1= @restaurant.name
%p= @restaurant.description
= link_to "Menu", @restaurant.menu_url
|
= link_to "Order", @restaurant.ordering_url
|
= link_to "Directions", "https://maps.google.com/maps?q=#{@restaurant.address}"
