!!!
%html
  %head
    %title LunchTwits
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      .row-fluid
        %h1.span8 LunchTwits
        - if current_user.present?
          .auth-info.span4
            .welcome
              Welcome,
              = current_user.name
            = link_to "Log out", logout_path, method: :delete, class: "signout"
      .messages.row-fluid
        - %i[info notice error success].each do |level|
          - if flash[level].present?
            .alert{class: "alert-#{level}"}= flash[level]
    = yield
